.yourCollection{
    width: 60%; 
    display: flex;
    flex-direction: column;
}

#YC_scrollCollection{
    display: flex; 
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
    padding: 10px;
}

.YC_header {
    padding: 10px; 
}

.YC_cardDiv {
    padding: 5px;

}

.cardPic {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%; 
}

.cardInfo {
    text-transform: capitalize;
}

.filter-dropdown {
    position: absolute;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 4px 4px #ccc;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 20px;
}

/* .user-list {
    display: flex; 
} */