.showDiv {
    display: flex;
    position: absolute;
    height: 678px;
    justify-content: center;
    padding-top: 5px;
}

.showLeft {
    width: 50%;
    height: auto;
    background-color: rgb(246, 246, 250);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.showRight {
    width: 40%; 
    background-color: rgb(246, 246, 250);
    padding-right: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.infoHeader {
    display: flex;
    width: 100%;
    border-bottom: 1px solid gray;
    align-items: center;
}

.showButtons {
    display: flex;
    color: rgb(0, 106, 255); 

}

.logo {
    width: 30%;
    height: 20%;
}

.showPriceInfo {
    display: flex;
    gap: 20px;
    padding: 10px; 
    text-align: end;
}

.showPrice {
    font-size: 40px;
    font-weight: bolder;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

.showInfo {
    display: flex;
    flex-direction: column-reverse;
    font-size: 20px; 
    padding-bottom: 5px;
}

.showAddress {
    font-size: 20px;
    padding-left: 10px;
    padding: 5px;
    color: rgb(42, 42, 51);
    text-transform: capitalize;
}

.showListingType {
    padding-left: 10px;
    display: flex;
    padding: 10px; 
    gap: 10px;
    text-transform: capitalize;
}

.showTourAgent {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    text-align: center;
}

.showType {
    color: red; 
}

.tourButton {
    width: 60%; 
    display: flex;
    background-color: rgb(0, 106, 255);
    border-color: rgb(0, 106, 255);
    color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 10px; 
}

.editListing{
    width: 42%; 
    display: flex;
    background-color: rgb(0, 106, 255);
    border-color: rgb(0, 106, 255);
    color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.deleteListing{
    width: 42%; 
    display: flex;
    background-color: rgb(0, 106, 255);
    border-color: rgb(0, 106, 255);
    color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.edit_delete{
    display: flex; 
    gap: 10px; 
    justify-content: space-around;
}

.agentButton {
    display: flex; 
    border: 2px solid rgb(0, 106, 255);
    border-radius: 4px;
    background-color: rgb(0, 106, 255);
    color: white; 
    font-size: 16px;
    font-weight: 300;
    align-items: center;
}

.showOverview {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    font-size: 20px;
    color: rgb(42, 42, 51);
    text-transform:capitalize;
}

.sOverviewDiv {
    border-bottom:  1px solid gray;
}

.sDescription {
    font-size: 18px;
    padding: 5px; 
}

.showDescription {
    padding: 10px;
    font-weight: 200;
}

.sDetails {
    padding: 10px; 
}

.show-close-div {
    width: 1px; 
    display: flex; 
}

.show-close {
    position: absolute; 
    width: 1px;
    font-size: 20px;
}

.show-close:hover {
    color: blue;
}
.listing-buttons{
    display: flex; 
    padding: 15px;
    font-size: 18px;
}

#save-button:hover {
    color: blue; 
}