.formHeader {
    font-family: 'serif';
    font-weight: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin: 0px 0px 8px;
}

.formTop {
    width: 320px;
    padding: 10px; 
}

.topButtons {
    padding: 10px;
    display: inline;
    border: none;
    background: none;
    font-size: 15px;
    color: gray;
    /* border-bottom: solid;
    border-color: rgb(0, 106, 255); */
}

.formTopButtons {
    border-bottom: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
}

.errors {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    height: 20px; 
    width: 250px;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}



